@media all and (max-device-width: 694px) {
    
    #billboard {
      margin: 8rem 0rem 0rem 0rem;
      padding: 1rem 2rem 1rem 0.5rem;
      display: none;
    }
  
    body {
        zoom: 100%;
    }

    div[id^=like-buttons-] {
      right: 14.2rem !important;
  }
}