{% extends "blog/base.html" %}
{% block content %}
    <h1>Բարի Գալուստ!</h1>
    <br/>
    <p>Այս կայքում դուք կարող եք ստեղծել նոր հարց, 
        ընտրել կատեգորիան, գրել հարցը, և սպասել պատասխանին։ 
        Նաև կարող եք դուք պատասխանել այլ հարցերին, քանի որ հետագայում լինելու են մրցույթներ, 
        և հաղթողները լինելու են նրանք, ովքեր ավելի շատ են պատասխանել այլ մարդկանց հարցերին։ 
        Լավագույների ցանկ բաժնում կարող եք տեսնել, թե ովքեր ունեն ամենաշատ միավորները։ 
        Մրցույթների հետ կապված բոլոր մանրամասները, հետագայում կլինեն մրցույթներ բաժնում։ 
        Հուսով եմ այս կայքը կօգնի Ձեզ, գտնել ձեր ցանկացած հարցի պատասխանը։</p>
{% endblock content %}