<!-- 

__author__ = "David Khachatryan"
__copyright__ = "Copyright 2021, Mat Ognutyun"
__credits__ = None
__license__ = "GPL"
__version__ = "2.0.0"
__maintainer__ = "David Khachatryan"
__email__ = "dkhachatryan@wisc.edu"
__status__ = "Production" 

@NOTE - THIS APPLIES TO EVERY HTML FILE IN THIS WEBSITE

-->

{% load static %}
<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=5.0, minimum-scale=0.35">

    <!-- Tab Logo -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/img/icon.png' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/likebutton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/dark-mode.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/video-carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/upvote-downvote.css' %}">

    <!-- CSS for different sized screens -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-min-width-992.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-992.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-768.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-280.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-839.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-694.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-537.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-402.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-353.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-330.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-310.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-282.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-260.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-240.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-220.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-max-width-200.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/optimized-css/main-width-768.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Emojis -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

    {% if title %}
        {% if not_counter %}
          {% if not_counter > 0 %}
            <title>{{ title }} - {{ not_counter }}</title>
          {% elif not_counter == 0 %}
            <title>{{ title }}</title>
          {% endif %}  
        {% else %}
          <title>{{ title }}</title>
        {% endif %}    
    {% elif not_counter %}
        {% if not_counter > 0 %}
          <title>Տնային - {{ not_counter }}</title>
        {% elif not_counter == 0 %}
          <title>Տնային</title>
        {% endif %}
    {% else %}
      <title>{% block title %} Տնային {% endblock %}</title>  
    {% endif %} 

    <!--- Google Stuff -->
    <script data-ad-client="ca-pub-5804480621414645" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-189707038-1"></script>
    <script>
	    window.dataLayer = window.dataLayer || [];
	    function gtag() {
        dataLayer.push(arguments);
      }
		  gtag('js', new Date());
		  gtag('config', 'UA-189707038-1');
    </script>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Գլխավոր Էջ</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  {% if cat_menu %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Կատեգորիաներ
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for cat in cat_menu %}
                          <a class="dropdown-item" href="{% url 'category' cat %}">
                            {{ cat }}
                          </a>
                        {% endfor %}
                        <!--<div class="dropdown-divider"></div>-->
                      </div> 
                    </li>
                  {% endif %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                      <a class="nav-item nav-link" href="{% url 'post-create' %}">Նոր Հարց</a>
                      <a class="nav-item nav-link" href="{% url 'profile' %}">Պրոֆիլ</a>
                      <a class="nav-item nav-link" href="{% url 'user-posts' request.user.username %}">Իմ Հարցերը</a>
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Դուրս Գալ</a>
                      <div class="nav-item nav-link">
                        {% if not_counter > 0 %}
                          <button type="button" class="icon-button" id="bell">
                            <span class="material-icons">notifications</span>
                            <span class="icon-button__badge">{{ not_counter }}</span>
                          </button>
                        {% else %}
                        <button type="button" class="icon-button" id="bell">
                          <span class="material-icons">notifications</span>
                        </button>
                        {% endif %} 


                        <div class="notifications" id="box">
                          {% if not_counter %}
                            <h2>Ծանուցումներ - <span>{{ not_counter }}</span></h2>
                          {% else %}
                            <h2>Ծանուցումներ - <span>0</span></h2> 
                          {% endif %}  
                          {% for notification in notifications reversed %}
                            {% if not notification.is_seen %}
                              {% if not notification.sender == notification.user %}
                                <a href = "{% url 'd-notification' notification.id %}" class="disabled">
                                  <div class="notifications-item"> <img src="{{notification.sender.profile.image.url}}" alt="img">
                                      <div class="text">
                                          <h4>{{ notification.sender }}</h4>
                                          {% if notification.notification_type == 1 %}
                                            <p>{{ notification.sender }} օգտատերը կարծում է, որ ձեր {{ notification.text_preview }} հարցը օգտակար է</p>
                                          {% elif notification.notification_type == 2 %}
                                            <p>{{ notification.sender }} օգտատերը պատասխանել է ձեր հարցին․․․{{ notification.text_preview }}</p>
                                          {% endif %}  
                                      </div>
                                  </div>
                                </a>
                              {% endif %}  
                            {% endif %}
                          {% endfor %}
                        </div>  
                      </div>
                    {% else %}
                       <a class="nav-item nav-link" href="{% url 'login' %}">Մուտք</a><a class="nav-item nav-link" href="{% url 'register' %}">Գրանցվել</a>
                    {% endif %}
                </div>
              </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                   {% for message in messages %}
                     <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                     </div>
                   {% endfor %}
                {% endif %}
		{% if user.is_authenticated %}
		{% else %}
		   <div class="alert alert-success">
			   <a href="{% url 'register' %}">Գրանցվեք հարցեր տալու համար</a>
		   </div>
		{% endif %}
              {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
              <div class="content-section" id="billboard">
                <h3>Ցուցատախտակ</h3>
                <br/>
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                      <a href="{% url 'best-posts' %}">Լավագույն հարցեր</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                      <a href="http://tnayin.com/user/tnayin.com">Մրցույթներ</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                      <a href="{% url 'leaderboard' %}">Լավագույնների Ցանկ</a>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
        </div>
    </main>

    <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
      <div id="like-section">
        {% include 'blog/footer.html' %}
      </div>
    </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js></script>
   <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <script src="{% static 'blog/js/main.js' %}"></script>
   <script src="{% static 'blog/js/video-carousel.js' %}"></script>
   <script src="{% static 'blog/js/button.js' %}"></script>
   <script src="{% static 'blog/js/modal.js' %}"></script>
   <script src="{% static 'blog/js/alert-messages.js' %}"></script>
</body>
</html>