{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted }}</small>
            {% if object.author == user %}
                <div>
                <a class="btn-secondary btn-sm mt-1" href="{% url 'post-update' object.id %}">Խմբագրել</a>
                <a class="btn-danger btn-sm mt-1" href="{% url 'post-delete' object.id %}">Ջնջել</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }} 
            <small>/ {{ object.category }}</small>
        </h2>
        <p class="article-content">{{ object.content|safe }}</p>
      </div>        
        <hr>
        <br/>
        {% if user.is_authenticated %}
            <form action="{% url 'like-post' post.pk %}" method="post">
                {% csrf_token %}
                {% if request.user in post.likes.all %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                        Հետ Հավանել
                    </button>
                {% else %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                        Հավանել
                    </button>
                {% endif %}
            </form>
        {% endif %}
    </article>
    <article class="media content-section">
        {% if post.likes.count <= 1 %}
          {% if post.comments.count > 1 %}
            <a class="comment" href="{% url 'post-detail' post.id %}">{{ post.likes.count }} հոգի հավանել է - {{ post.comments.count }} Պատասխաններ</a>
          {% else %}
            <a class="comment" href="{% url 'post-detail' post.id %}">{{ post.likes.count }} հոգի հավանել է - {{ post.comments.count }} Պատասխան</a>  
          {% endif %}  
        {% else %}  
          {% if post.comments.count > 1 %}
            <a class="comment" href="{% url 'post-detail' post.id %}">{{ post.likes.count }} հոգի հավանել են - {{ post.comments.count }} Պատասխաններ</a>
          {% else %}
            <a class="comment" href="{% url 'post-detail' post.id %}">{{ post.likes.count }} հոգի հավանել են - {{ post.comments.count }} Պատասխան</a>  
          {% endif %}  
        {% endif %}  
      </article>
      <br/><br/>
        <h2>Պատասխաններ...</h2>

        {% if not object.comments.all %}
            <a href="{% url 'post-comment' object.id %}">Ավելացնել Պատասխան</a>
            <br/>
            Պատասխաններ չկան ։(
        {% else %}
            <a href="{% url 'post-comment' object.id %}">Ավելացնել Պատասխան
            <br/><br/>
            {% for comment in object.comments.all reversed %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ comment.name.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts' comment.name.username %}">{{ comment.name.username }}</a>
                            {% if comment.name == user %}
                                <div>
                                    <a class="btn-secondary btn-sm mt-1" href="{% url 'comment-update' pk=comment.id %}">Խմբագրել</a>
                                    <a class="btn-danger btn-sm mt-1" href="{% url 'comment-delete' pk=comment.id %}">Ջնջել</a>
                                </div>
                            {% endif %}

                        </div>
                        <p class="article-content">{{ comment.body|safe }}</p>
                    </div>

                    <hr>
                    <br/>
                    {% if user.is_authenticated %}
                        <form action="{% url 'like-comment' comment.id %}" method="post">
                            {% csrf_token %}
                            {% if request.user in comment.likes.all %}
                                <button type="submit" name="comment_id" value="{{ comment.id }}" class="btn btn-primary btn-sm">
                                    Հետ Հավանել
                                </button>
                            {% else %}
                                <button type="submit" name="comment_id" value="{{ comment.id }}" class="btn btn-primary btn-sm">
                                    Հավանել
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                </article>
                <article class="media content-section">
                    {% if comment.likes.count <= 1 %}
                      <a class="comment" href="{% url 'post-detail' post.id %}">{{ comment.likes.count }} հոգի հավանել է</a>   
                    {% else %}  
                      <a class="comment" href="{% url 'post-detail' post.id %}">{{ comment.likes.count }} հոգի հավանել են</a>
                    {% endif %}  
                </article>
                <br/><br/>
            {% endfor %}
        {% endif %}

{% endblock content %}