{% extends "blog/base.html" %}

{% block extra_head %}
	<meta name="description" content="{{ object.title  }}">
	<meta name="author" content="{{ object.author }}">
{% endblock %}

{% block title %} 
	{{ object.title }} 
{% endblock %}

{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted }} | {{ object.category }}</small>
          {% if object.author == user %}
            <div>
                <a class="btn-secondary btn-sm mt-1" href="{% url 'post-update' object.id %}">Խմբագրել</a>
                <a class="btn-danger btn-sm mt-1" href="{% url 'post-delete' object.id %}">Ջնջել</a>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
      </div>        
      <hr>
      <br/>
    </article>

      <div id="like-section">
        {% include 'blog/like_section.html' %}
      </div>
        
      <br/><br/>
        <h2>Պատասխաններ...</h2>

        {% if not object.comments.all %}
            <a href="{% url 'post-comment' object.id %}">Ավելացնել Պատասխան</a>
            <br/>
            Պատասխաններ չկան ։(
        {% else %}
            <a href="{% url 'post-comment' object.id %}">Ավելացնել Պատասխան
            <br/><br/>
            {% for comment in object.comments.all reversed %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ comment.name.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts' comment.name.username %}">{{ comment.name.username }}</a>
                            {% if comment.name == user %}
                                <div>
                                    <a class="btn-secondary btn-sm mt-1" href="{% url 'comment-update' pk=comment.id %}">Խմբագրել</a>
                                    <a class="btn-danger btn-sm mt-1" href="{% url 'comment-delete' pk=comment.id %}">Ջնջել</a>
                                </div>
                            {% endif %}

                        </div>
                        <p class="article-content">{{ comment.body|safe }}</p>
                    </div>

                    <hr>
                    <br/>
                </article>
               
                <div id="com-like">
                  <article class="media content-section">
                    {% if user.is_authenticated %}
                        <form id="like-form-comment" method="post">
                            {% csrf_token %}
                            {% if request.user in comment.likes.all %}
                                <button type="submit" id="like-comment-{{ comment.id }}"
					                    name="comment_id" data-value="{{ comment.post.id }}" 
					                    value="{{ comment.id }}" 
					                    data-submit-url="{% url 'like_comment' comment.post.id comment.id %}" 
                                        class="btn btn-danger btn-sm">
                                    
                                    <div class="hand">
                                        <div class="thumb"></div>
                                    </div>
                                    <span>Չհավանել<span></span></span>
                                </button>
                            {% else %}
                                <button type="submit" id="like-comment-{{ comment.id }}" 
					                    name="comment_id" data-value="{{ comment.post.id }}" 
					                    value="{{ comment.id }}" 
					                    data-submit-url="{% url 'like_comment' comment.post.id comment.id %}" 
                                        class="btn btn-primary btn-sm">

                                    <div class="hand">
                                        <div class="thumb"></div>
                                    </div>
				    	            <span>Հավանել<span></span></span>
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}

                    {% if comment.likes.count <= 1 %}
                      <a class="comment" id="comment-{{ comment.id }}" 
			             href="{% url 'post-detail' comment.post.id %}">{{ comment.likes.count }} հոգի հավանել է</a>   
                    {% else %}  
                      <a class="comment" id="comment-{{ comment.id }}" 
			             href="{% url 'post-detail' comment.post.id %}">{{ comment.likes.count }} հոգի հավանել են</a>
                    {% endif %}  
                  </article>
                </div>
                <br/><br/>
            {% endfor %} 
        {% endif %}

{% endblock content %}