body{
  background-color: #27496E;
  font-family: 'Raleway', sans-serif;
  .appBuilder-carousel{
    margin-bottom: 64px;
    margin-top: 56px;
      .carousel{
    .carousel-indicators{
          width: 76%;
      li{
        border: none;
        background-color: #98ACB9;
        height: 18px;
        margin-right: 28px;
        width: 18px;
        &.active{
          background-color: #50E3C2;
        }
      }
    }
    .carousel-inner{
      .item{
        h3{

          font-weight: 700;
          font-size: 25px;
          color: #FFFFFF;
          letter-spacing: 0.89px;
          line-height: 38.41px;
          margin-bottom: 50px;
          margin-top: 30px;
          position: relative;
          
          &::after{
            background-color: #FFFFFF;
            bottom: -18px;
            content: "";
            height: 6px;
            left: 0;
            position: absolute; 
            width: 158px;
            
          }
          
        }
        h4{
              font-weight: 700;
              font-size: 25px;
              color: #43EEC5;
              letter-spacing: 1.02px;
              line-height: 33px;
              
        }
      }
    }
  }
  }

}
