@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');



@keyframes page-load {
	from {
     		background-color: #ffc422;
	}
   	to {
		background-color: #c0392b;
	}
}

.page-loading::before {
	content:" ";
	display:block;
	position:fixed;
	z-index:10;
	height:2px;
	width:100%;
	top:0;
	left:0;
	background-color:#06D;
	animation: page-load infinite ease-out 2s;
	box-shadow:0 2px 2px rgba(0,0,0,.2);
}

h1, h2, h3, h4, h5, h6 {
  color: #bebbbb;
}

ul {
  margin: 0;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	left: 118px;
	margin-right: 861px !important;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #d7dadc;
  padding-bottom: .25em;
  text-decoration: none;
}


@media all and (min-width: 992px) {
  .site-header .navbar-nav .nav-link:hover { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
    color: #d7dadc;
  }	

}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #1A1A1B;
  padding: 10px 20px;
  border: 1px solid #2f2d2d;
  border-radius: 18px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3) !important;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3) !important;
  transition: box-shadow 350ms;
}

.content-section:hover {
  border: 1px solid #ffffff;
}

.dropdown-menu {
  width: 100%;
}

.article-title {
  color: #d7dadc;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.media-body img {
   height: 20000px;
   width: 300px;
}

a {
  color: #5e82e0;
  text-decoration: none;
}

a.disabled
{
  pointer-events: none;
}

.icon {
  cursor: pointer;
  margin-right: 2px;
  line-height: 14px
}

.icon span {
  background: #f00;
  padding: 6px;
  border-radius: 60%;
  color: #fff;
  vertical-align: bottom;
  margin-left: -43px
}

.icon img {
  display: inline-block;
  width: 26px;
  margin-top: 4px
}

.icon:hover {
  opacity: .7;
}

.icon img:hover {
  
}

#billboard {
	padding: 10px;
}


/* Notifications navbar */
.logo {
  flex: 1;
  margin-left: 50px;
  color: #eee;
  font-size: 20px;
  font-family: monospace
}

.notifications {
  width: 300px;
  position: absolute;
  top: 63px;
  right: 62px;
  border-radius: 5px 0px 5px 5px;
  background-color: #170019;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 90vh !important;
  overflow-y: scroll;
}

.notifications h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999
}

.notifications h2 span {
  color: rgb(0, 140, 255)
}

.notifications-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer
}

.notifications-item:hover {
  background-color: #eee
}

.notifications-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border-radius: 50%;
  margin-top: 2px
}

.notifications-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 3px
}

.notifications-item .text p {
  color: #aaa;
  font-size: 12px
}

.num {
  position: absolute;
  right: 211px;
  top: 33px;
  color: #fff;
}

/* Footer */
.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
  color: #989c9e !important
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
  font-size: 51px !important;
  position: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: -1rem;
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

.comment {
  margin: 0px;
}

.media-body img { 
  width: 100% ! important;
  height: 50% !important;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: flex; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
  
  .dropdown-item:hover {
    padding-left: 2rem;
  }
  
  .dropdown-item {
    width: 25vw;
    transition: padding-left 250ms;
  }
  
  
  .navbar .nav-item .dropdown-menu {
    flex-wrap: wrap;
    width: 55vw;
  }
  
  .navbar .nav-item .dropdown-menu:hover {
    display: flex !important;
  }

  .media-body p {
  margin-top: 32px;
    margin-bottom: 1rem;
    margin-left: 103%;
    margin-inline-start: 0;
    max-width: 86%;
    max-inline-size: 70%;
    max-block-size: 119%;
    margin-right: initial;
    margin-inline-end: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
}

   #clickable-article:hover {
     list-style: none;
     transform: scale(1.1);
     position: relative;
     z-index: 5;
   }

}	
/* ============ desktop view .end// ============ */


.media .comment {
  margin: auto auto auto 1rem;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content-section h3 {
  font-size: 32px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 2px;
}

#clickable-article:hover {
  cursor: pointer;
}

.alert-error {
  background-color: red;
}

@media all and (max-width: 992px) {
  .media-body p {
    text-overflow: ellipsis;
    margin-top: 15px;
    margin-bottom: 1rem;
    margin-left: 103%;
    margin-inline-start: 0;
    max-width: 86%;
    max-inline-size: 71%;
    max-block-size: 92%;
    margin-right: initial;
    margin-inline-end: 26%;
    overflow: hidden;
  }

  .content-section {
    background: #1a1a1b;
    padding: 9px 20px;
    border: 1px solid #2f2d2d;
    border-radius: 18px;
    margin-bottom: 20px;
    width: 200%;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3) !important;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3) !important;
    transition: box-shadow 350ms;
  }

  #billboard {
    margin-left: 46rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 233%;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 37px !important;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media all and (max-width: 768px) {
  #billboard {
    margin: 8rem 0rem 0rem 0rem;
    padding: 1rem 2rem 1rem 0.5rem;
    display: none;
  }

  body {
	  zoom: 100%;
  }
}

@media all and (width: 768px) {
  #billboard {
    margin: 4rem 4rem 0rem 41rem;
    padding: 1rem 0rem 1rem 0.5rem;
  }
}

@media all and (max-width: 280px) {
  .media-body p {
    text-overflow: ellipsis;
    margin-top: 15px;
    margin-bottom: 1rem;
    margin-left: 103%;
    margin-inline-start: 0;
    max-width: 86%;
    max-inline-size: 47%;
    max-block-size: 92%;
    margin-right: initial;
    margin-inline-end: 26%;
    overflow: hidden;
  }
}

.icon-button {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 33px;
   height: 33px;
   color: #333333;
   background: #dddddd;
   border: none;
   outline: none;
   border-radius: 50%;
}

.icon-button:hover {
   cursor: pointer;
}

.icon-button:active {
   background: #cccccc;
}

.icon-button__badge {
   position: absolute;
   top: -10px;
   right: -10px;
   width: 25px;
   height: 25px;
   background: red;
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
}

.row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -36px;
   margin-top: 100px !important;
}

body {
   zoom: 100%;
}


@import CodeBlock from '@ckeditor/ckeditor5-code-block/src/codeblock';
ClassicEditor
	.create( document.querySelector( '#editor' ), {
    		codeBlock: {
			languages: [
			// Do not render the CSS class for the plain text code blocks.
			{ language: 'plaintext', label: 'Plain text', class: '' },
									         
		 	// Use the "php-code" class for PHP code blocks.
			{ language: 'php', label: 'PHP', class: 'php-code' },

			// Use the "js" class for JavaScript code blocks.										                 // Note that only the first ("js") class will determine the language of the block when loading data.
		        { language: 'javascript', label: 'JavaScript', class: 'js javascript js-code' },

			// Python code blocks will have the default "language-python" CSS class.
                        { language: 'python', label: 'Python' }]
																				 }
													 					        } )
       .then( ... )													
       .catch( ... );
