{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="eTzkyF1IORbbcj1JozATA6uxfc6HKAEOQvJXGqzgZOAyQn4kNo3dgXMdXOuRQGb4">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Վերականգնել Գաղտնաբառը
            </legend>
            

            <div id="div_id_new_password1" class="form-group"> <label for="id_new_password1" class=" requiredField">
            Նոր Գաղտնաբառ<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1"> <small id="hint_id_new_password1" class="form-text text-muted"><ul><li>Ձեր Գաղտնաբառը Չի Կարող Նման Լինել Ձեր Անձնական Ինֆորմացիային</li><li>Ձեր Գաղտնաբառը Պետք է Ունենա Առնվազն 8 Տառ</li><li>Ձեր Գաղտնաբառը Չպետք է Լինի Հաճախ Օգտագործված (Օր․։ abc12345678)</li><li>Ձեր Գաղտնաբառը Չպետք է Պարունակի Միայն Թվեր</li></ul></small> </div> </div> <div id="div_id_new_password2" class="form-group"> <label for="id_new_password2" class=" requiredField">
            Հաստատել Նոր Գաղտնաբառը<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password2"> </div> </div>

        </fieldset>
        <div class="form-group">
            <button class="btn-outline-info" type="submit">Վերականգնել Գաղտնաբառը</button>
        </div>
    </form>
</div>

{% endblock content %}